/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

body {
  background: #edf1f5;
  margin-top: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
  margin-bottom: 30px;
}

.material-icons {
  font-size: 2rem;
}

.material-icons:hover {
  color: deepskyblue;
}

i.ping-icon {
  color: darkcyan;
}

.delete i {
  color: chocolate;
}

.table-title {
  background-color: #255373;
  color: #fff;
  padding: 1rem;
}

.header-button,
.header-title {
  margin: 1rem;
}

.container-xl {
  background: #fff;
  padding-bottom: 1rem;
}

.alert-danger {
  margin-left: 1rem;
  margin-right: 1rem;
}
